@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');

:root {
    font-family: 'Metal Mania', cursive;
}

body {
    background: #222;
    color: white;
    text-align: center;
}

#genre {
    margin-top: 3em;
    display: inline-block;
    font-size: 40px;
    padding: 0.2em;
}

#regenerate {
    font-family: 'Metal Mania', cursive;
    background-color: #8a0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}